:root {
  --clr-primary-color: #530b83;
  --clr-secondary-color: #f4f4f4;
  --clr-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

h1 {
  text-align: center;
}

.pos-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.dflex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.self-center {
  align-self: center;
}

.tasklist-body {
  box-sizing: border-box;
  width: 70%;
  max-width: 1200px;
  margin: auto 15%;
  padding: 0 1%;
  border: 1px solid slategray;
  box-shadow: var(--clr-box-shadow);
}

.tasklist-body h2 {
  text-align: center;
}